body{
    margin: 0;
}

.todo-item{
    width: 60%;
    margin: auto;
    /* background: lightcoral; */
    font-size: 28px;
    color: #07adfa;
    text-align: center;
}

.checkbox{
    display: flex;
    padding: 10px;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    /* background: chartreuse; */
    border-bottom: 3px rgb(43, 14, 211) solid;
}



.checkbox p{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: cornsilk; */

}

